body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
}

.upload-card,
.result-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2d89ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
