<!DOCTYPE html>
<html>
<head>
    <title>Nikunj Data Analyzer</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>

<body>

<div class="container">

    <div class="upload-card">
        <h1>Nikunj Data Analyzer</h1>

        <input type="file" id="fileInput">
        <button onclick="uploadFile()">Upload File</button>
    </div>

    <div class="card">
        <h2>Dataset Overview</h2>
        <p>Rows: <span id="rows"></span></p>
        <p>Columns: <span id="columns"></span></p>
        <p>Numeric Columns: <span id="numeric"></span></p>
        <p>Categorical Columns: <span id="categorical"></span></p>
    </div>

    <div class="card">
        <h2>Data Quality</h2>
        <div id="missing"></div>
        <p>Duplicates: <span id="duplicates"></span></p>
    </div>

    <div class="card">
        <h2>Insights</h2>
        <ul id="insights"></ul>
    </div>

    <div class="card">
        <h2>Dataset Preview</h2>
        <div id="preview"></div>
    </div>

</div>

<script src="/static/Js/script.js"></script>

</body>
</html>
