<!DOCTYPE html>
<html>
<head>
    <title>Nikunj Data Analyzer</title>

    <link rel="stylesheet" href="/static/CSS/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <h1>Nikunj Data Analyzer</h1>

    <!-- Upload -->
    <div class="card">
        <input type="file" id="fileInput">
        <button id="uploadBtn">Upload File</button>
    </div>

    <!-- Overview -->
    <div class="card">
        <h2>Dataset Overview</h2>
        Rows: <span id="rows"></span><br>
        Columns: <span id="columns"></span><br>
        Numeric Columns: <span id="numericColumns"></span><br>
        Categorical Columns: <span id="categoricalColumns"></span>
    </div>

    <!-- Insights -->
    <div class="card">
        <h2>Insights</h2>
        <ul id="insights"></ul>
    </div>

    <!-- Preview -->
    <div class="card">
        <h2>Dataset Preview</h2>
        <div id="preview"></div>
    </div>

    <!-- Charts -->
    <div class="card">
        <h2>Histogram</h2>
        <canvas id="histChart"></canvas>
    </div>

    <div class="card">
        <h2>Category Count</h2>
        <canvas id="catChart"></canvas>
    </div>

</div>

<script src="/static/Js/script.js"></script>

</body>
</html>
